/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
/* #Additional - Large Screens beyond 1280px
================================================== */
    /* Note: Design for a width of 1280px */
    @media only screen and (min-width: 1280px) {
         h1.screenTest {color:black}
        .container                                  { width: 1280px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }
        .container .one.column,
        .container .one.columns                     { width: 60px; }
        .container .two.columns                     { width: 140px; }
        .container .three.columns                   { width: 220px; }
        .container .four.columns                    { width: 300px; }
        .container .five.columns                    { width: 380px; }
        .container .six.columns                     { width: 460px; }
        .container .seven.columns                   { width: 540px; }
        .container .eight.columns                   { width: 620px; }
        .container .nine.columns                    { width: 700px; }
        .container .ten.columns                     { width: 780px; }
        .container .eleven.columns                  { width: 860px; }
        .container .twelve.columns                  { width: 940px; }
        .container .thirteen.columns                { width: 1020px; }
        .container .fourteen.columns                { width: 1100px; }
        .container .fifteen.columns                 { width: 1180px; }
        .container .sixteen.columns                 { width: 1260px; }
        .container .one-third.column                { width: 414px; }
        .container .two-thirds.column               { width: 822px; }
        /* Offsets */
        .container .offset-by-one                   { padding-left: 80px; }
        .container .offset-by-two                   { padding-left: 160px; }
        .container .offset-by-three                 { padding-left: 240px; }
        .container .offset-by-four                  { padding-left: 320px; }
        .container .offset-by-five                  { padding-left: 400px; }
        .container .offset-by-six                   { padding-left: 480px; }
        .container .offset-by-seven                 { padding-left: 560px; }
        .container .offset-by-eight                 { padding-left: 640px; }
        .container .offset-by-nine                  { padding-left: 720px; }
        .container .offset-by-ten                   { padding-left: 800px; }
        .container .offset-by-eleven                { padding-left: 880px; }
        .container .offset-by-twelve                { padding-left: 960px; }
        .container .offset-by-thirteen              { padding-left: 1040px; }
        .container .offset-by-fourteen              { padding-left: 1120px; }
        .container .offset-by-fifteen               { padding-left: 1200px; }
    }
        /*----the 'standard' 960 up to the wide screen ------------------------*/
        @media only screen and (min-width: 961px) and (max-width: 1279px) {         

            .mastHeadText h1 {
                font-size:5.5em;
                margin:0.25em 0 0.2em 0;
                text-shadow: 0px 4px 4px rgba(55, 55, 55, 0.4);   

            }
            .boxText h1 {
                font-size:2em;
            }
            .boxText p {font-size:1em;line-height:1.2;}
        }
    
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {        
            .mastHeadText h1 {
                font-size:4em;
                margin:0.25em 0 0.2em 0;
                text-shadow: 0px 4px 4px rgba(55, 55, 55, 0.4);   

            }         
        }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
            

            .flexslider p span.caption-heading {
/*                color:blue;*/
                font-size:30px;
            }
            .flex-caption {
                font-size:12px;
                line-height:16px;
                position: absolute;
                left: 0px;
                bottom: 20px;                
            }
            .subFooter p span.contactDetails, .subFooter p span.footerLinks,#contactBar span.phone, #contactBar span.email     {
                display:block;
                float:none;
                text-align:center;
            }
                     
        }

	/* All Mobile Sizes (devices and browser) */
        @media only screen and (max-width: 767px) {
            
            .header .strapLine img {
                width:65%;
                height:auto;
                margin-top:6px;
            }
            .flex-caption, .flex-opacity-wrap {
                display:none;
            }
            .header .logo img {
                float:none;
                display:block;
                margin:0 auto;
            }
            .header {height:115px;}
            .header .strapLine img {
                padding:0;
                display:block;
                margin:0 auto;
                float:none;
            }
            #mainNav ul li.hidden {
                display:inline;
            }
            #mainNav ul {
                display:inline-block;
            }
            #mainNav ul.left {
                display:none;
            }
            #mainNav ul.right {
                float:left;
            }
            .flexslider p span.caption-heading {
/*                color:yellow;*/
                font-size:20px;
            }
            .flex-caption {
                font-size:12px;
            }
            .flex-direction-nav {
                display:none;
            }
            .subFooter p span.contactDetails, .subFooter p span.footerLinks,#contactBar span.phone, #contactBar span.email     {
                display:block;
                float:none;
                text-align:center;
            }            
        }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            #footColWrap, .one-third.column.omega.sideBar {
                display:none;
            }
            .header .strapLine img {
                width:65%;
                height:auto;
                margin-top:6px;
            }
            .header .logo img {
                width:15%;
            }            

        }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
        @media only screen and (max-width: 479px) {
             #footColWrap, .one-third.column.omega.sideBar {
                display:none;
            }         
            .header .strapLine img {
                width:65%;
                height:auto;
                margin-top:6px;
            }    
            .header .logo img {
                width:20%;
            }
        }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/